.hero {
    background-image: url('../img/serie/cover/original.jpg');
    background-position: center -13rem;
    width: 100%;
    height: 50rem;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-container {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    background: rgba($color: $negro, $alpha: 0.2)
}