.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
    @include tablet {
        width: 95%;
    }
    text-align: center;
}

.seccion {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.ocultar {
    display: none;
    @include tablet {
        display: flex;
    }
}

.sombra-caja {
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.16);
}